h3,
p,
table {
    color: white;
}

table {
    border: 1px solid white;
}

td {
    border: 1px solid white;
    min-width: 100px;
}

.language-direction {
    color: white;
}

.last-modified {
    margin: 0;
    padding: 0;
}
